<!--
   Made By -: Techzniczone
   website - :https://www.techzniczone.com/
   email - :techzniczone@gmail.com
   -->
<!-------------------------------------- Base Page -------------------------------------------------->
<!--------------------------------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the page title -->
	<title>National Youth Programme</title>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'main/images/homepage/logo2.png' %}">
	<!-- inlcude google nunito sans font cdn link -->
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&amp;display=swap" rel="stylesheet">
	<!-- inlcude google cabin font cdn link -->
	<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">
	<!-- include the site bootstrap stylesheet -->
	<link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<!-- include theme color setting stylesheet -->
	<link rel="stylesheet" href="{% static 'main/css/colors.css' %}">
	<!-- include the site responsive stylesheet -->
	<link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">
	
</head>
<body>

<!--------------------------------------------------------------------------------->
{% block main_content %}{% endblock %}
<!--------------------------------------------------------------------------------->


<!-- include jQuery library -->
<script src="{% static 'main/js/jquery-3.4.1.min.js' %}"></script>
<!-- include custom JavaScript -->

<!-- include plugins JavaScript -->
<script src="{% static 'main/js/plugins.js' %}"></script>
<!-- include fontAwesome -->
<script src="https://kit.fontawesome.com/391f644c42.js"></script>
<script src="{% static 'main/js/font.js' %}"></script>
</body>
</html>