<!--
   Made By -: Techzniczone
   website - :https://www.techzniczone.com/
   email - :techzniczone@gmail.com
   -->
<!-------------------------------------- Footer Page ------------------------------------------------>
<!--------------------------------------------------------------------------------------------------->
{% load static %}
<div class="ftAreaWrap position-relative bg-gDark fontAlter">
   <!-- pageFooter -->
   <footer id="pageFooter" class="text-center bg-dark pt-6 pb-3 pt-md-8 pb-md-5">
      <div class="container">
         <p>© COPYRIGHT -2020 National Youth Programme. - Designed & Developed by <a target="_blank" style="text-decoration: none;color: red;" href="https://www.techzniczone.com/">Techzniczone</a></p>
      </div>
   </footer>
</div>