<!--
   Made By -: Techzniczone
   website - :https://www.techzniczone.com/
   email - :techzniczone@gmail.com
   -->
<!-------------------------------------- Login Page ------------------------------------------------->
<!--------------------------------------------------------------------------------------------------->
{% extends 'Main/base.html' %}
{% block main_content %}
{% load static %}
<div class="phStickyWrap">
    {% include 'Main/header.html' %}
 </div>
<h1>Login Page</h1>
{% endblock %}