<!--
   Made By -: Techzniczone
   website - :https://www.techzniczone.com/
   email - :techzniczone@gmail.com
   -->
<!-------------------------------------- Application Registration Page ------------------------------>
<!--------------------------------------------------------------------------------------------------->
{% extends 'Main/base.html' %} {% block main_content %} {% load static %}
<div class="phStickyWrap">
    {% include 'Main/header.html' %}
</div>

<body>
    <div class="d-lg-flex half">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-6 py-5 pt-15 pb-20">
                    <center>
                        <h3>APPLICATION FOR AFFILIATION</h3>
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <div style="width: 100px; height: 3px; background-color: #3446CD; margin-bottom: 10px;">
                            </div>
                            <div style="width: 30px; height: 3px; background-color: #3446CD; margin-bottom: 60px;">
                            </div>
                        </div>
                    </center>
                    <!-- <center>
                  <p class="mb-4">Error Message Comes Here</p>
                  </center> -->
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Name of the Institution</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Phone/Mobile</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Status of the Institution</label>
                                    <select class="form-control">
                                        <option disabled="true" selected>Select</option>
                                        <option>Trust</option>
                                        <option>Registered Society</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Email Address</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Status of the Institution (Other)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Year of Establishment</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group first">
                                    <label for="fname">Address</label>
                                    <textarea type="text" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Picode</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <center>
                            <h4 class="mt-5 text-black">Information About Manager/Principal/Director of the Institution
                            </h4>
                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <div style="width: 100px; height: 3px; background-color: #3446CD; margin-bottom: 10px;">
                                </div>
                                <div style="width: 30px; height: 3px; background-color: #3446CD; margin-bottom: 60px;">
                                </div>
                            </div>
                        </center>
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Name (Manager/Principal/Director)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Education Qualification</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Date of Birth</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Designation</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Professional Experience</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group first">
                                    <label for="fname">Postal Address (Residence)</label>
                                    <textarea type="text" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <center>
                            <h4 class="mt-5 text-black">Infrastructure Facility</h4>
                        </center>
                        <div class="row mt-5">
                            <div class="col-md-3 mt-5">
                                <div class="form-group first">
                                    <label for="fname">Staff Room</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Number of Rooms (Staff Room)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Seating Capacity</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Total Area (Sqft)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-3 mt-5">
                                <div class="form-group first">
                                    <label for="fname">Class Room</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Number of Rooms (Class Room)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Seating Capacity</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Total Area (Sqft)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-3 mt-5">
                                <div class="form-group first">
                                    <label for="fname">Laboratory</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Number of Rooms (Laboratory)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Seating Capacity</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Total Area (Sqft)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-3 mt-5">
                                <div class="form-group first">
                                    <label for="fname">Reception</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Number of Rooms (Reception)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Seating Capacity</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Total Area (Sqft)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-3 mt-5">
                                <div class="form-group first">
                                    <label for="fname">Toilets</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Number of Rooms (Toilets)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Seating Capacity</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Total Area (Sqft)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-3 mt-5">
                                <div class="form-group first">
                                    <label for="fname">Any Others</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Number of Rooms (Other Rooms)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Seating Capacity</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Total Area (Sqft)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <center>
                            <h4 class="mt-5 text-black">Details of Laboratory Facilities Available</h4>
                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <div style="width: 100px; height: 3px; background-color: #3446CD; margin-bottom: 10px;">
                                </div>
                                <div style="width: 30px; height: 3px; background-color: #3446CD; margin-bottom: 60px;">
                                </div>
                            </div>
                        </center>
                        <center>
                            <h4 style="margin-top: 50px;" class="text-black">Computer Facilities</h4>
                        </center>
                        <div class="row mt-5">
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control"
                                        placeholder="SL No. (Computer Facilities/Lab Facilities)">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Computer with Type">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="No. of Terminals Available">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Year of Purchase">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Cost">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Software Facilities">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Other Facilities">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 50px;">
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control"
                                        placeholder="SL No. (Computer Facilities/Lab Facilities)">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Computer with Type">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="No. of Terminals Available">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Year of Purchase">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Cost">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Software Facilities">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Other Facilities">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 50px;">
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control"
                                        placeholder="SL No. (Computer Facilities/Lab Facilities)">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Computer with Type">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="No. of Terminals Available">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Year of Purchase">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Cost">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Software Facilities">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Other Facilities">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 50px;">
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control"
                                        placeholder="SL No. (Computer Facilities/Lab Facilities)">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Computer with Type">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="No. of Terminals Available">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Year of Purchase">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Cost">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Software Facilities">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Other Facilities">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 50px;">
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control"
                                        placeholder="SL No. (Computer Facilities/Lab Facilities)">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Computer with Type">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="No. of Terminals Available">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Year of Purchase">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Cost">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Software Facilities">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Other Facilities">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 50px;">
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control"
                                        placeholder="SL No. (Computer Facilities/Lab Facilities)">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Computer with Type">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="No. of Terminals Available">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Year of Purchase">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Cost">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Software Facilities">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Other Facilities">
                                </div>
                            </div>
                        </div>
                        <center>
                            <h4 style="margin-top: 50px;" class="text-black">Information About Faculty</h4>
                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <div style="width: 100px; height: 3px; background-color: #3446CD; margin-bottom: 10px;">
                                </div>
                                <div style="width: 30px; height: 3px; background-color: #3446CD; margin-bottom: 60px;">
                                </div>
                            </div>
                        </center>
                        <div class="row mt-5">
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control"
                                        placeholder="SL No. (Information About Faculty)">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Designation">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Qualification">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Teaching Experience">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Date of Appointment">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Status FT/PT">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 50px;">
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control"
                                        placeholder="SL No. (Information About Faculty)">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Designation">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Qualification">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Teaching Experience">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Date of Appointment">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Status FT/PT">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 50px;">
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control"
                                        placeholder="SL No. (Information About Faculty)">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Designation">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Qualification">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Teaching Experience">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Date of Appointment">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Status FT/PT">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 50px;">
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control"
                                        placeholder="SL No. (Information About Faculty)">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Designation">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Qualification">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Teaching Experience">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Date of Appointment">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <input type="text" class="form-control" placeholder="Status FT/PT">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 50px;">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Centre's Address (In Hindi)</label>
                                    <textarea type="text" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Residential Address (In Hindi)</label>
                                    <textarea type="text" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <center>
                            <h4 style="margin-top: 10px;" class="text-primary">The above information Given by me are
                                find correct & sign under me</h4>
                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <div style="width: 100px; height: 3px; background-color: #3446CD; margin-bottom: 10px;">
                                </div>
                                <div style="width: 30px; height: 3px; background-color: #3446CD; margin-bottom: 60px;">
                                </div>
                            </div>
                        </center>
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <div class="form-group first">
                                    <label for="fname">Find Correct & Sign Under Me</label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group first">
                                    <input type="text" class="form-control" name="Name">
                                </div>
                            </div>
                        </div>
                        <center>
                            <h4 style="margin-top: 50px;" class="text-black">For Head Office Use Only</h4>
                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <div style="width: 100px; height: 3px; background-color: #3446CD; margin-bottom: 10px;">
                                </div>
                                <div style="width: 30px; height: 3px; background-color: #3446CD; margin-bottom: 60px;">
                                </div>
                            </div>
                        </center>
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <div class="form-group first">
                                    <label for="fname">Form Receiving Date</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group first">
                                    <label for="fname">Affiliation Number</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Total Affiliation Fee</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <div class="form-group first">
                                    <label for="fname">Registration Fee</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group first">
                                    <label for="fname">Amount Received</label>
                                    <select class="form-control">
                                        <option disabled="true" selected>Select</option>
                                        <option>Received</option>
                                        <option>Not Received</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Name of Bank</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <div class="form-group first">
                                    <label for="fname">Receipt/Cheque/Draft No.</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group first">
                                    <label for="fname">Date</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Education Institution Type</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Affiliation From Date</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Affiliation To Date</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Submit Application" class="btn px-5 btn-primary"
                            style="background-color: #3446CD;" />
                    </form>
                </div>
            </div>
        </div>
        <script src="{% static 'forms/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'forms/js/popper.min.js' %}"></script>
        <script src="{% static 'forms/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'forms/js/main.js' %}"></script>
        {% endblock %}
    </div>
</body>