<!--
   Made By -: Techzniczone
   website - :https://www.techzniczone.com/
   email - :techzniczone@gmail.com
   -->
<!-------------------------------------- Mark Registration Page ------------------------------------->
<!--------------------------------------------------------------------------------------------------->
{% extends 'Main/base.html' %} {% block main_content %} {% load static %}
<div class="phStickyWrap">
    {% include 'Main/header.html' %}
</div>

<body>
    <div class="d-lg-flex half">
        <div class="container mb-16">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-6 py-5 pt-15">
                    <center>
                        <h3>MARK LIST REGISTRATION FORM</h3>

                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <div style="width: 100px; height: 3px; background-color: #3446CD; margin-bottom: 10px;">
                            </div>
                            <div style="width: 30px; height: 3px; background-color: #3446CD; margin-bottom: 55px;">
                            </div>
                        </div>
                    </center>
                    <!-- <center>
                  <p class="mb-4">Error Message Comes Here</p>
               </center> -->
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Registration Number</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Date</label>
                                    <input type="date" id="datepicker" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Subjects</label>
                                    <input type="text" class="form-control mt-2" />
                                    <input type="text" class="form-control mt-2" />
                                    <input type="text" class="form-control mt-2" />
                                    <input type="text" class="form-control mt-2" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Internale Marks</label>
                                    <input type="text" class="form-control mt-2" />
                                    <input type="text" class="form-control mt-2" />
                                    <input type="text" class="form-control mt-2" />
                                    <input type="text" class="form-control mt-2" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Mark Obtained</label>
                                    <input type="text" class="form-control mt-2" />
                                    <input type="text" class="form-control mt-2" />
                                    <input type="text" class="form-control mt-2" />
                                    <input type="text" class="form-control mt-2" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group first">
                                    <label for="fname">Total</label>
                                    <input type="text" class="form-control mt-2" />
                                    <input type="text" class="form-control mt-2" />
                                    <input type="text" class="form-control mt-2" />
                                    <input type="text" class="form-control mt-2" />
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group first">
                                    <label for="fname">Viva Marks</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group first">
                                    <label for="fname">Total Marks</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group first">
                                    <label for="fname">Grade</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <center>
                            <h4 class="mt-5 text-danger">Office Use</h4>
                         </center>

                         <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Mark Enter Clerk(Name)</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Mark Enter Clerk</label>
                                    <select class="form-control">
                                        <option disabled="true" selected>Select</option>
                                        <option>Verified</option>
                                        <option>Not Verified</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Mark Check Clerk(Name)</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Mark Check Clerk</label>
                                    <select class="form-control">
                                        <option disabled="true" selected>Select</option>
                                        <option>Verified</option>
                                        <option>Not Verified</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">2nd Verified officer Name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">2nd Verified officer</label>
                                    <select class="form-control">
                                        <option disabled="true" selected>Select</option>
                                        <option>Verified</option>
                                        <option>Not Verified</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Final Mark Verified Officer Name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="fname">Result Status</label>
                                    <select class="form-control">
                                        <option disabled="true" selected>Select</option>
                                        <option>Result Published</option>
                                        <option>Result Not Published</option>
                                        <option>Result Blocked</option>
                                        <option>Passed / Failed</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-4">
                                <div class="form-group first">
                                    <label for="fname">Result Enter Register Book Number</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group first">
                                    <label for="fname">Mark Obtained</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group first">
                                    <label for="fname">Total Mark</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Submit Application" class="btn px-5 btn-primary"
                            style="background-color: #3446CD;" />
                    </form>
                </div>

            </div>
        </div>
        <script src="{% static 'forms/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'forms/js/popper.min.js' %}"></script>
        <script src="{% static 'forms/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'forms/js/main.js' %}"></script>
        <script>
            $(function(){
         $("#datepicker").datepicker({
             dateFormat: "yy-mm-dd"
         });
     });
     </script>
        {% endblock %}
    </div>
</body>